* {
	/*border: 1px solid black;*/
}

@import url('https://fonts.googleapis.com/css?family=Oswald|Work+Sans:300');

body {
	background: #e6e6e0;

	font-family: 'Work Sans', sans-serif;
}

.main {
	width: 300px;
	height: 150px;
	padding: 30px 20px 20px 20px;

	text-align:center;

	color: #e6e6e0;
}


h2 {
	display: block;

	margin: 10px 0 10px 0;

	transform: scaleY(1.2);
	letter-spacing: 0.02em;

	font-size: 3.5em;
}

h3 {
	display: inline;

	font-size: 1.5em;
}

.metric span {
	margin-left: 1%;

	font-size: 0.5em;
}

.button-style {
	display: inline;
	float: right;

	margin: 0px;
	padding: 0px;
}

.button-style div {
	/* TODO: This needs to be changed so that the button is square */
	padding: 0 0.35em 0.14em 0.3em;

	color: black;
	border-radius: 20%;
	background: #e6e6e0;

	font-size: 0.8em;
	font-weight: bold;
}

button:focus {
	outline: none;
}

/* Button rotation*/

.rotate {
	/* TODO: Need to make the button transition work both ways */
	/*-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;*/

	-webkit-transform: rotate(50deg);
	-moz-transform: rotate(50deg);
	-ms-transform: rotate(50deg);
	-o-transform: rotate(50deg);
	transform: rotate(50deg);
}

/* Button rotation end */


.expand {
	display:inline-block;

	padding: 0px;

	cursor:pointer;
	text-decoration: none;

	border: none;
	background: none;

	font-size: 1.8em;
}

.add-info {
	display:none;

	width: 300px;
	height: 150px;
	padding : 10px 20px 10px 20px;

	color: #e6e6e0;
}

.input-text-area {
	/*margin-top: -8%;*/
	padding: 1%;

	border-radius: 5px;
	outline: none;

	font-size: 1.25em;
	/* TODO: This solves the input area not extending its div on mobile devices, but it changes the
			style on desktop devices, need to create a solution that makes it look right on both*/
	width: 96%;
}

.form-submit-button {
	display: block;
	float: right;

	margin-top: 3%;
	padding: 1% 4% 1% 4%;

	cursor:pointer;
	text-decoration: none;

	border: none;
	border-radius: 5px;
	background: #e6e6e0;

	font-size: 0.75em;
	font-weight: bold;
}

div.logo {
	margin-bottom: 3%;

	text-align: center;
}

/**
	* The colours are ordere as follows..
	*
	* Colour of the main 'data view' section (x-widget)
	* Colour of the 'add info' toggled section (add-x-info)
	*
*/

.paper-widget {
	background: #D27036;
}

.add-paper-info {
	background: #8b441b;
}

.compost-widget  {
	background: #3f7300;
}

.add-compost-info {
	background: #294705;
}

.glass-widget  {
	background: #12a8ac;
}

.add-glass-info {
	background: #0f787a;
}

.metal-widget  {
	background: #536a5e;
}

.add-metal-info {
	background: #3d4e45;
}

.plastic-widget  {
	background: #6e312d;
}

.add-plastic-info {
	background: #542623;
}

.general-widget  {
	background: #112369;
}

.add-general-info {
	background: #0a1749;
}

/* TODO: Make the CSS more efficient, violates DRY*/

/**
	* Targetting the '+' character located in each button
*/

.button-style > .paper div {
	color: #D27036;
}
.button-style > .compost div {
	color: #3f7300;
}
.button-style > .glass div {
	color: #12a8ac;
}
.button-style > .metal div {
	color: #536a5e;
}
.button-style > .plastic div {
	color: #6e312d;
}
.button-style > .general div {
	color: #112369;
}

/**
	* Targetting the 'add' character located in add button
*/
.add-paper-info .form-submit-button {
	color: #8b441b;
}
.add-compost-info .form-submit-button {
	color: #294705;
}
.add-glass-info .form-submit-button {
	color: #0f787a;
}
.add-metal-info .form-submit-button {
	color: #3d4e45;
}
.add-plastic-info .form-submit-button {
	color: #542623;
}
.add-general-info .form-submit-button {
	color: #0a1749;
}
