/** {
	border: 1px solid black;
}*/

body {
	font-family: 'Hammersmith One', sans-serif;
	background: #d2d2d0
}

.main {
	width: 300px;
	height: 150px;
	padding: 30px 20px 20px 20px;

	text-align:center;

	color: #e9e9e7;
}

h2 {
	width: 300px;
	margin: 10px 0 0 0;
	padding: 0px;

	font-size: 50px;
}

h3 {
	margin: 0px;
	padding: 0px;

	font-size: 20px;
}

.metric span {
	font-size: 0.5em;
}

.button-style {
	width: 300px;
	margin: 0px;
	padding: 0px;

	text-align: right;
}

.button-style div {
	background: #e9e9e7;
	padding: 0 7.5px 3px 7px;
	border-radius: 20%;
	color: black;
	font-size: 0.8em;
	font-weight: bold;
}

button:focus {
	outline: none;
}

/* Button rotation*/

.rotate {
	transform: rotate(50deg);
	transition: 0.6s;
}

/* Button rotation end */


.expand {
	display:inline-block;

	margin: 0px;
	padding:0px;
	padding: 0px;

	cursor:pointer;
	text-decoration: none;

	color: #e9e9e7;
	border: none;
	background: none;

	font-size: 30px;
}

.add-info {
	display:none;

	width: 300px;
	height: 150px;
	padding : 20px 20px;

	text-align:center;

	color: #e9e9e7;
}

/**
	* The colours are ordere as follows..
	*
	* Colour of the main 'data view' section
	* Colour of the 'add info' toggled section
	*
*/

.paper-widget {
	background: #D27036;
}

.add-paper-info {
	background: #8b441b;
}

.compost-widget {
	background: #3f7300;
}

.add-compost-info {
	background: #294705;
}

.glass-widget {
	background: #12a8ac;
}

.add-glass-info {
	background: #0f787a;
}

.metal-widget {
	background: #536a5e;
}

.add-metal-info {
	background: #3d4e45;
}

.plastic-widget {
	background: #6e312d;
}

.add-plastic-info {
	background: #542623;
}

.general-widget {
	background: #112369;
}

.add-general-info {
	background: #0a1749;
}

/**
	* Targetting the '+' character located in each button
*/

.button-style > .paper div {
	color: #D27036;
}
.button-style > .compost div {
	color: #3f7300;
}
.button-style > .glass div {
	color: #12a8ac;
}
.button-style > .metal div {
	color: #536a5e;
}
.button-style > .plastic div {
	color: #6e312d;
}
.button-style > .general div {
	color: #112369;
}
