body {
    margin: 0 !important;
	padding: 0 !important;
}

/* Login Form
  ======================================================================== */
.form-container {
	height: 42px;
	margin-bottom: 1.5%;

	background: rgb(6, 13, 61);
}

.form-container form {
	float: right;
}

.login-form input {
	display: none;

	margin-top: 3.5%;
	margin-right: 0.5em;
	padding: 0.3em;

	border: 0;
	border-radius: 0.4em;
	outline: none;
}

.login-form input::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: rgb(188, 188, 191);
}

.login-form #icon-image-border{
	float: right;

	margin: 0.15em 0.15em 0 0;

	border-radius: 10%;
	background: white;
}

.login-form #user-icon-image {
	padding: 2px;

    cursor:pointer;
	vertical-align: middle;
}
